.product-details-price .posted-place-animal p{
    height: 48.49px;
    font-family: poppins;
}
.location-icon-place p{
    color: rgb(23, 209, 23);
    font-size: 20px;
    font-family: poppins;
    font-weight: 600;
}