.video{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    /* width: 95%; */
    border-radius: 10px;
    margin: auto;
}
.video .top{
    display: flex;
    /* justify-content: center; */
    margin: auto;
    border-radius: 10px 10px 0 0;
    align-items: center;
    width: 85%;
    padding-left: 20px;
    background-color: #F1F3F6;
    height: 70px;
}
.video .top .circle{
    width: 20px;
    background-color: #DDDEE1;
    height: 20px;
    margin-left: 15px;
    border-radius: 50%;
}
.video .top .rectangle{
    width: 80%;
    background-color: #DDDEE1;
    height: 30px;
    margin-left: 50px;
}
.video .bottom{
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 0 0 10px 10px;
    align-items: center;
    width: 85%;
    background-color: #F1F3F6;
    height: 70px;
}
.video video{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    width: 85%;
    margin: auto;
}